extends layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	.page
		h1=t("welcomeTo", {app})

		.logos
			h3=t("PoweredBy")
			a(href='https://krpano.com/')
				#krpano_logo

			a(href='https://krpano.com/')
				img(src="https://krpano.com/panos/rom/petersplatz/blickvonkuppel/imagebar.jpg")

		.buttons
			a.button(href="/login")=t("Login")
			if features.disableSignUp !== true
				a.button(href="/signup")=t("Signup")

	include parts/footer

block scripts
	script(src='/app/vendor.js')
	script(src='/app/frontend.js')

